################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArvEmployee/.vs/ArvEmployee/FileContentIndex/4dcbf993-3d4f-4f04-90ba-d674356ec813.vsidx
/ArvEmployee/.vs/ArvEmployee/FileContentIndex/dd98a2f6-4aa8-41f7-ba7b-6f21a13506e4.vsidx
